{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>In our online grocery store system, customers will be able to view products, manage shopping cart 
    (add or remove products in the cart), checkout orders, track orders, and give feedback. 
    Store manager will be able to manage products (add, update, or remove products), review feedback,
     and generate sales information reports. While store staff can check new orders, update order status,
      and view product information. Lastly, delivery staff will be able to manage delivery orders (view, accept,
       or decline unassigned delivery orders), and confirm orders upon delivery. </p>

{% endblock %}
