{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Online Grocery Store System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>cst10003 - customer, pwd = aaa11111</p>
        <p>mgr30001 - store manager, pwd = aaa11111</p>
        <p>sstf50001 - store staff, pwd = abcd6666</p>
        <p>sstf50002 - store staff, pwd = defg9999</p>
        </p>dstf10001 - delivery staff, pwd = aaa11111</p>
        </p>root - admin, pwd = aaa11111</p>
    </div>
</div>

{% endblock %}
